@use '../abstracts' as *;

.badge {
  @include badge-base;
  box-shadow: $shadow-neumorph-inset;

  &--ok {
    background: $color-success-bg;
    color     : $color-success-text;
  }

  &--low {
    background: $color-warning-bg;
    color     : $color-warning-text;
  }

  &--out {
    background: $color-danger-bg;
    color     : $color-danger-text;
  }

  &--expiry {
    background: $color-expiry-bg;
    color     : $color-expiry-text;
  }

  &--venc {
    background: $color-expiry-bg;
    color     : $color-expiry-text;
  }
}